* {
  box-sizing: border-box;
}

body {
  background-color: #1a1919;
  color: white;
}

.ico-size {
  height: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.text-box {
  background-color: #3e3d3d;
  color: white;
}
